<%= if current_user.lesson.size < 1 %>
<p> You currently have no lessons</p>
  <%= else %>
    <%= current_user.lesson.each do |lesson| %>
      <div class="container">
      <%= link_to lesson_path(lesson)  %>
      <%=  lesson.starttime %>
     <%= lesson.language %>
     </div>
 <% end %>
 <% end %>
